#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(202, 223, 242);
}

.list{
  border: 2px solid black;
  background-color: rgb(79, 150, 150);
}

.post{
  border: 1px solid gray;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(193, 224, 251);
}

.filter{
  margin-bottom: 20px;
}

.filter-input {
  width: 300px;
  height: 25px;
}